---
layout: default
title: "stories"
---
<header class="stories-index-header-main" style="background-image:url('{{ site.baseurl }}/assets/img/bird.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
    <div class="stories-index-title">
        <h1 class="featured-stories-post-title"> Stories </h1>
        <a href="" class="read-featured-stories-post">Read</a>
    </div>
</header>

<!-- {% for stories in site.stories %}
<a href="{{ site.baseurl }}{{ stories.url }}">{{ stories.company_name }}</a>
{% endfor %} -->

<div class="StoriesWrapper">
  <div class="StoriesPreview">
    <div class="text">
      <h1>BEF-China</h1>
      <p>Bigest manipulated BEF experiment in subtropical forest....</p>
      <p>Positive diversity–productivity relationships are found in many ecosystems across the world,
        but these relationships are poorly studied for forests, especially considering temporal and spatial scale in large manipulated field experiments.
        If you are interested in BEF relationships and its underlying mechanisms, see our web.</p>
      <h6>BEF in forest &bull; Litterfall &bull; BEFmodification Experiment</h6>
      <a href="{{ site.baseurl }}/stories/BEF-China/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/yuanyuanhuang/BEF.jpg">
    </div>
  </div>
<!-- second part of the story -->
  <div class="StoriesPreview reverse">
    <div class="text">
      <h1>Obversional studies in GTS</h1>
      <p>Safestep Floors focus on the health and safety....</p>
      <h6>Web Design/ Development &bull; Branding &bull; Print</h6>
      <a href="{{ site.baseurl }}/stories/CSP/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/GTS/DSC01811.JPG">
    </div>
  </div>
  <!-- third sroty -->
  <div class="StoriesPreview">
    <div class="text">
      <h1>Alpine Studies</h1>
      <p>Qinghai nutrient adding experiment. AMF contrubute to P absorbing....</p>
      <h6>Web Design/ Development &bull; Branding &bull; Print</h6>
      <a href="{{ site.baseurl }}/stories/glassland/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/Qinhai/IMG_0287.JPG">
    </div>
  </div>
  <!-- forth story -->
  <div class="StoriesPreview reverse">
    <div class="text">
      <h1>Other researches</h1>
      <p>Bridging science and policy....</p>
      <h6>Web Design/ Development &bull; Story-telling &bull; Communication</h6>
      <a href="{{ site.baseurl }}/stories/yuanyuan/">View Study</a>
    </div>
    <div class="imgWrapper">
      <img src="{{ site.baseurl }}/assets/img/stories/yuanyuanhuang/s3.jpg">
    </div>
  </div>
</div>
