---
layout: default
title: "2014-11-22-SiyiForest"
categories: love
featImg: photography/2014-11-22-SiyiForest/2014-11-22-SiyiForest-26-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2014-11-22-SiyiForest/2014-11-22-SiyiForest-13-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> Siyi </h1>
</div>

<div class="galleryIndexWrapper">
  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2014-11-22-SiyiForest %}
  </div>
</div>
