---
layout: default
title: "2015-12-25-Madrid Spain"
categories: Spain
featImg: photography/2015-12-25-Spain/2015-12-25-Spain-79-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2015-12-25-Spain/2015-12-25-Spain-77-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> Madrid Spain </h1>
</div>

<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>Madrid Spain</p></h6>
  <h1>{{ posts.title }}</h1>
  <div class="imgContainer">

    {% include gallery-layout.html gallery=site.data.galleries.2015-12-30-MadridSpain %}

  </div>
</div>
