---
layout: default
title: "2015-11-07-Rigi"
categories: love
featImg: photography/2015-11-07-Rigi/2015-11-07-Rigi-26-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2015-11-07-Rigi/2015-11-07-Rigi-20-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> Rigi </h1>
</div>

<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>Rigi</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>

    {% include gallery-layout.html gallery=site.data.galleries.2015-11-07-Rigi %}
  </div>
</div>
