---
layout: default
title: "2015-12-25-ElChorro Spain"
categories: Spain
featImg: photography/2015-12-25-Spain/2015-12-25-Spain-75-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2015-12-25-Spain/2015-12-25-Spain-71-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> El Chorro Malága Spain </h1>
</div>

<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>ElChorro Malága Spain</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>

    {% include gallery-layout.html gallery=site.data.galleries.2015-12-28-ElChorroSpain %}
  </div>
</div>
