---
layout: default
title: "2017-05-25-Walensee"
categories: love
featImg: photography/2017-05-25-Walensee/2017-05-25-Walensee-25-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2017-05-25-Walensee/2017-05-25-Walensee-21-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Hiking By Walensee</h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>Walensee是离苏黎世蛮近的周围都是山的湖，每次坐车经过这我都想下来待会。今天乘着好天气来这儿徒步。</p>
    <br/>
    <p>这的山还是蛮陡的，累得直冒汗的我时不时还能看到山地车嗖嗖地从我身边过，这些人大热天的，真的不难受吗？</p>
  </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2017-05-25-Walensee %}
  </div>
</div>
