---
layout: default
title: "2017-08-27-Aletsch"
categories: love
featImg: photography/2017-08-27-Aletsch/2017-08-27-Aletsch-26-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2017-08-27-Aletsch/2017-08-27-Aletsch-9-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Aletsch Glacier </h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>终于来到了阿莱奇冰川，阿尔卑斯山最大的冰川。</p>
    <br/>
    <p>这次我们徒步的路线是：</p>
    <div class="imgWrapper2">
      <img src="{{ site.baseurl }}/assets/photography/2017-08-27-Aletsch/hiking.PNG">
    </div>
    <p>我们没有坐缆车，直接从下面的湖翻越了一座山。这一段最艰辛，很陡，能一直看到高山湖。在山顶过后，突然出现在眼前的冰川，惊喜跳跃在心头。恩，果然为了它，一切都值得。</p>
    <p>Jungfrau-Aletsch 冰川是世界遗产之一。我记得当年站在少女峰山顶见到远处的阿莱奇冰川的时候，就心生敬畏。那是几千年形成的呢。
     </p> </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2017-08-27-Aletsch %}
  </div>
</div>
