---
layout: default
title: "2017-06-24-RütiCamping"
categories: love
featImg: photography/2017-06-24-RütiCamping/2017-06-24-RütiCamping-4-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2017-06-24-RütiCamping/2017-06-24-RütiCamping-1-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Camping in Rüti 4</h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>带着新买的帐篷，开始了浪迹江湖之路。</p>
    <br/>
    <p>第一次选的露营地点是Stoo附件的一个小农庄。</p>
    <p>这个农庄竟然是要坐汽车盘山绕绕绕半天才到。果然偏远之地新鲜美好极了。在城市里生活的人，还是得是不是地来大自然充充电才好。</p>
    <p>一到农庄，就被门口的两头小黑猪给迷惑了。后来又见到了奇怪的站着走路的鸭子、迷彩兔子、有自己帐篷的小乌龟、驴、鸽子。。。搭好帐篷就开始夏天最爱的烧烤，好幸福！</p>
    <p>第二天在牛儿们的生活之地徒步了一整天，恰逢施肥季节，简直被熏到醉。。。整个瑞士的味道，果然是牛粪味呢。回时由于地处偏远，第一次搭车。
      果然瑞士的人不怎么善于交流，虽然很友好地顺带我们下山，但是一路上我一句话都没说，好尴尬￣□￣｜｜但是山下湖边的小村子一下又热闹起来了。
      每家每户都有美丽的院子。看到用木头随便做的蛇和天鹅，有心。
     </p> </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2017-06-24-RutiCamping %}
  </div>
</div>
