---
layout: default
title: "2018-07-15-HoherKasten"
categories: love
featImg: photography/2018-07-15-HoherKasten/2018-07-15-HoherKasten-10-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---


<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-07-15-HoherKasten/2018-07-15-HoherKasten-15-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Switzerland HoherKasten </h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>两天半的时间，我们享受了Appenzell地区极致风光之旅。</p>
    <br/>
    <p>路线：Zurich -> Weissbad -> Brülisau -> Sämtisersee -> Fälensee -> Saxerlücke -> Hoher Kasten -> Forstseeli -> Eggli -> Steinegg -> Appenzell </p>
       <p>火车从苏黎世到Weissbad，然后改乘骑车去Brülisau,换乘无缝衔接，下火车的时候，司机就等着我两，竟然也就我们两个乘客，
       欣赏着一路伴山伴水的风景，满心欢喜。从Brülisau开始，就是一路的艰难上坡森林。一路景色让我想起古田山。
       森林里也有丁玲丁玲的牛玲声。果然牛已经占了了整个这个国家。

       Sämtisersee之前有家餐厅，外面简洁里面豪华，还出售美味但也昂贵的羊奶酪。入手了羊奶酪，沿着屈曲盘旋的小径下到了半干旱的Sämtisersee。
       踩着岸边的石块才发现蹦跳着无数极小的青蛙。估计是刚从蝌蚪蜕变的，体型大小类似蜘蛛了。
       湖一边是一篇红色的植被。红蓝绿相间，很舒适。
       接着沿着峡谷走，旁边伴随着来着于Fälensee的小溪，很惊讶的是这小溪明明顺着流入了Sämtisersee,为何它却那么干枯呢？
       后面的解释牌解答了这个谜题，原来在湖下面还有另一条出道，水通过那条道都流走了。

       沿着山谷，就开始了一段神奇的地质之路，探索阿尔卑斯山形成之谜。

     </p> </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2018-07-15-HoherKasten %}
  </div>
</div>
