---
layout: default
title: "2018-08-12-TriftBridge"
categories: love
featImg: photography/2018-08-12-TriftBridge/2018-08-12-TriftBridge-10-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-08-12-TriftBridge/2018-08-12-TriftBridge-9-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Switzerland Trift Bridge </h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>离开瑞士前，约了几个伙伴去Trift Bridge徒步。</p>
    <br/>
    <p>从山脚，有缆车上到一定高度。这一段也可以徒步，不过徒步时间也需要一个多小时，而且有一定的海拔。如果想在上面徒步的，去之前必须网上预订缆车的票，
      不然你就只能凭运气看能不能遇见有人定了票又不出现的情况。上面有一段非常有意思的T4路线，极其推荐。从桥到对面的高山小屋标注的是蓝线，看着也蛮有趣的。想下次时间充裕再去走走</p>
       <p>缆车上去，依然要徒步大约一个多小时才能到达高山桥。你绝对会被眼前的景象震惊的，不只是看到冰川，而是你看到，你听到冰川在融化。融化的乳蓝色的冰水就汇集到桥下的湖中。
         这个时候，我觉得我是听到了地球在哭泣。上面有不同时期当地的情况图片展，之前并没有这座瑞士最长的高山桥，人们可以从冰川上直接过去，到对面的高山俱乐部小屋。
         2003年的时候，还可以看到比现在更大的冰川，站在这里能清晰地感受到气候变暖。
     </p> </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2018-08-12-TriftBridge %}
  </div>
</div>
