---
layout: default
title: "2018-04-14-Neuchâtel"
categories: love
featImg: photography/2018-04-14-Neuchâtel/2018-04-14-Neuchâtel-8-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---
<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-04-14-Neuchâtel/2018-04-14-Neuchâtel-25-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> 2018-04-14-Neuchâtel </h1>
</div>
<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>Zurich Botanical Garden</p>
</h6>

  <h1>{{ gallery.title }}</h1>
  <div class="imgContainer">

    {% include gallery-layout.html gallery=site.data.galleries.2018-04-14-Neuchatel %}

  </div>
</div>
