---
layout: default
title: "2018-07-22-Montreux"
categories: love
featImg: photography/2018-07-22-Montreux/2018-07-22-Montreux-10-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-07-22-Montreux/2018-07-22-Montreux-9-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Switzerland Montreux </h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>一到Montreux 就是能让你感觉到一股热情的味道，是穿着红衣少女带着草帽站在海边，迎面火车呼啸而来的美好画面。</p>
    <br/>
    <p>上回来Montreux，是跟好友冲着Montreux爵士节来的，当然还顺带想在世界遗产拉沃葡萄园梯田徒步一段。徒步风景的确独特，不过烈日之下，我们还是早早回到了吸引人的Montreux.
      那天我们带着朋友那借的大帐篷，想着在这美丽的地方待一晚。后来，却被Montreux音乐节上街头表演的艺人吸引得忘了时间，错过了开往露营地的最后巴士。真的不要把瑞士的小城小村当成大城市。
    最后我们坐上了黄金列车。。。</p>
    <p>这次重回蒙特勒，空气依然清新，就是湖边的枇杷树今年一个果子都没有。不过看到了一些新的好玩的雕塑，伴着这醉人的山水，我也想摘星星去。</p>
       </h3>
  <h6 class="dropCap"><p>照片</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2018-07-22-Montreux %}
  </div>
</div>
