---
layout: default
title: "云中之山"
categories: love
featImg: photography/Mythen/Mythen-18-thumbnail.jpg
excerpt: "Brunni –> Holzegg –> Grosser Mythen –> Holzegg –> Schwyz"
author: yuanyuanhuang
---
<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/Mythen/Mythen-4-2500.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> 云中之山 </h1>
</div>
<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>周六去登顶了位于Schwyz的大米藤山Grosser Mythen（这翻译也是很音译，但挺好玩的）。</p>
  <p> 第一次见Mythen这个词，我就想到了mysterious神秘。但维基百科说Mythe（单数）这次来自于拉丁文meta(圆锥体，金字塔)。Grosser Mythen 旁边是有两个峰的Kleiner Mythen. Mythen其实是复数, 但永久了大家也就都用die Grosser Mythen了。</p>
  </br>
  <p> 徒步路线：Brunni –> Holzegg(有个观景台和餐厅) –> Grosser Mythen –> Holzegg –> Schwyz</p>
  <p> 时长：约五个半小时</p>
  <p> https://www.schweizmobil.ch/en/hiking-in-switzerland/routes/route-0829.html?nopager</p>
  <p> 在Brunni，抬头就赞叹这两座米藤山真雄伟，我们今天真的要爬到顶上吗？</p>
  <p> 看大米藤山山顶云雾缭绕，所以我觉得很神秘.</p>

  <p>刚开始同伴说，这好陡啊，我们今天就不上去了，走另一段轻松点儿的路线。没想到从Brunni到Holzegg，上升了300米之后（其实这段可以在Brunni坐缆车），发现路牌上显示从Holzegg到Grosser Mythen只要1个小时20分。这不是很轻松么？瑞士人也从来不乱写路牌，山顶那红彤彤的巨岩在眼前，我就想去看看。于是我们就更改了路线，从Holzegg往大米藤山顶走。
  </p>
  <p>刚走几步路，周围就开始起雾了，仙境是不是？</p>

  <p> 接着越走越陡，路越小，便看到了索道。哈哈，这就是传说中很有意思的路。走着走着，如果拿着手机往下拍照，我心就会跳一下，感觉手机就会摔下去完了。但如果只看着前面的脚步走还行。就是好逗啊，感觉腿抬不起来了。同行的一位有点儿恐高的说，对他来说，精神的负担比体力的负担大多了。</p>
  <p>让我惊羡的是，一路见到好多小孩从2岁开始不等。还不能走路的就爸爸背着。这爸爸该有多强壮。这儿的小孩也都是这样锻炼起自己对山的热爱的吧。</p>
  <p>从大米藤山看有两个峰的小米藤山 (Kleiner Mythen)。</p>
  <p>不过，就这样，我们还是也1小时20分到达了山顶。一路上没有饮用水，山顶的小屋也木有。另两个同行可是背了4L水爬的。山顶的小屋据说只能收集降水来使用，但是每个月都会有直升飞机运载货物过来，所以东西也就稍贵，你也能买到水。
  下山就欢快多了，40多分钟就回来了，中间还能欣赏美景，拍拍照。上山的时候，一直在想，这么陡怎么下山呢？然后下山却出乎我们所有人意料，也没有多少恐惧。可能是路都修得很安全的原因吧。
  </p><p>下山后，从Holzegg徒步到Schwyz，行程2小时50分。但出乎意料的，都是下坡，都是下坡，给跪了。而且一直是森林农场。回来才发现，这个下的还真是很多。好在一路也能拍拍蝴蝶，看看牛。
  </p><p>回到Schwyz后，往后看，还是不敢想象，我们竟然到了那顶上。感觉做起来比看起来容易。所以以后别轻易被眼前的问题挑战给吓了，其实一步一个脚印，你就能到达山顶。
  </p>
  <p>回来后网上看到有个叫100天的俱乐部（100s Club）。只有每年至少爬大米藤山100次的人才能进这个俱乐部。这座山每年只开放6个月，再加上雨天等不好的天气，所以算下来每隔一天就要登顶一次。不过目前这个俱乐部只有两名成员，一些由于年纪过大或者过失都不在了。瑞士报纸报道了俱乐部的67岁的Armin Schelbert
  ，他总共登顶了1868次。“Routine leads to carelessness,” 这位大米藤山人如是说<a href="" class="lg-blockquote">"Even if you go the same way a thousand times: Every rise is different"</a>。
  </p>
</h6>

  <h1>{{ gallery.title }}</h1>
  <div class="imgContainer">

    {% include gallery-layout.html gallery=site.data.galleries.mythen %}

  </div>
</div>
