---
layout: default
title: "Kleinziegenfeld"
categories: love
featImg: photography/2018-05-11-Kleinziegenfeld/2018-05-11-Kleinziegenfeld-17-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---
<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-05-11-Kleinziegenfeld/2018-05-11-Kleinziegenfeld-21-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> Kleinziegenfeld </h1>
</div>
<div class="galleryIndexWrapper">
  <h6 class="dropCap"><p>http://geyer-und-dolek.de/</p>
</h6>

  <h1>{{ gallery.title }}</h1>
  <div class="imgContainer">

    {% include gallery-layout.html gallery=site.data.galleries.2018-05-11-Kleinziegenfeld %}

  </div>
</div>
