---
layout: default
title: "Oeschinen See Hiking"
categories: love
featImg: photography/OeschinenSee/OeschinenSee-ZM6A8005-3000.jpg
excerpt: "Oeschinen See, a blue diomand among the montains "
author: yuanyuanhuang
support: [jquery, gallery]
---
<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/OeschinenSee/OeschinenSee-ZM6A8005-3000.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title"> Oeschinen See Hiking </h1>
</div>

<div class="galleryIndexWrapper">

  <h3>
    <p>It has been said that Oeschinen See is the most beautiful mountain lake. It is a diomand in the middle of snow mountains. I went alone this hiking on a beautiful cloudy Saturady morning.
    I arrived at Kandersteg first, amazingly found that there is a traditional equestrian festival, which takes place on the second weekend of July every year there.
    It is competitive showjumping in a unique setting with horse riders.</p>
    <br/>
    <p>After the festival, I walked around 10 mins and arrived the place where the cable car for Oeschinen See. It took 15 CHF for the cable car, even though I have a GA similar day ticket.
    So I decided to hike up from Kandersteg. It is truely amazingly worth it (See photos below). It only took around 1 hour to arrive at Oeschinen See, which is truly a diomand.
    You can go boating (15CHF for half an hour), swiming (a little bit cold), fishing (36 CHF for half a day), BBQ etc. there.
    But the most amazing for me is hiking there. Start from Oeschinen See, you can go to the alpine hiking rout, with amazing atomasphere of fantastic mountains. There is a hiking way to Griesalp (around 6 hours), where you will see typical alpine landscape on 2778m-high Hohtürli.</p> </h3>
  <h1>{{ gallery.title }}</h1>
  <div class="imgContainer">

    {% include gallery-layout.html gallery=site.data.galleries.san-francisco %}

  </div>
</div>
