---
layout: default
title: "2018-11-06-LeipzigAutumn"
categories: love
featImg: photography/2018-11-06-LeipzigAutumn/2018-11-06-LeipzigAutumn-16-thumbnail.jpg
featImg2: photography/2018-11-06-LeipzigAutumn/2018-11-06-LeipzigAutumn-16-thumbnail.jpg
excerpt: "Beautiful butterflies"
author: yuanyuanhuang
---

<header class="post-img-header" style="background-image:url('{{ site.baseurl }}/assets/photography/2018-11-06-LeipzigAutumn/2018-11-06-LeipzigAutumn-9-original.jpg')">
    <div class="overlay-dark"></div>
    {% include nav.html %}
</header>
<div class="post-index-title">
    <h1 class="featured-blog-post-title">Leipzig Autumn </h1>
</div>

<div class="galleryIndexWrapper">
  <h3>
    <p>November is my favorite month!</p>
    <br/>
  </h3>
  <h6 class="dropCap"><p>Photos of Leipzig Autumn</p></h6>

  <div class="imgContainer">
    <h1>{{ gallery.title }}</h1>
    {% include gallery-layout.html gallery=site.data.galleries.2018-11-06-LeipzigAutumn %}
  </div>
</div>
